

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

html, body {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  font-family: "Roboto", sans-serif;
  /* background-image: linear-gradient(to bottom, var(--bg-color), var(--bg-color2)); */
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
  outline: none;
  border: none;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

:root{
    --smooth: all 0.3s ease-in;
    --text-color: #000;
    --bg-color:#EFCFE3;
    --bg-color2:#fff;
    --purple: #EA9AB2;
    --paige: #ffeae2;
    --bg-header: #E27396;
}

img{
    max-width: 100%;
    width: 100%;
}

button{
    text-align: center;
    color: var(--text-color);
    /* background-color: var(--bg-color); */
    padding: 0.8rem 2.5rem;
    border: none;
    cursor: pointer;
    transition: var(--smooth);
}

button:hover {
    background-color: var(--purple);
    transition: var(--smooth);
}
body{
  background-color: var(--bg-color2);
}

/* =======================Header===================== */



/* header */

header{
  display: flex;
  align-items: center;
  padding-top: 15px;
  position: absolute;
  z-index: 1;
  width: 100%;
}

/* logo */
.navbar_logo {
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-top: 5px;
  border-radius: 50%;
  margin: 0 25px;
}

/* Style the navigation bar */
.navbar1 {
  justify-content: center;
  overflow: hidden;
  bottom: 0;
  position: fixed;
  width: 100%;
  /* margin-left: 24%; */
  
}

/* Navbar links */
.navbar1 a {
  background-color: var(--bg-header) ;
  float: left;
  text-align: center;
  padding: 12px;
  color: var(--text-color);
  text-decoration: none;
  font-size: 17px;
  width: 200px;
  text-transform: uppercase;
  border-radius: 4px;
}

.navbar1 a:hover {
  background-color: var(--purple);
}

@media screen and (max-width: 500px) {
  .navbar1 a {
    float: none;
    display: block;
  }
}

/* ====================================Banner================================== */

.banner{
  position: relative;
  width: 100%;
}

.bg{
  position: relative;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--bg-color);
  opacity: 0.8;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transition: .6s ease;
}

.banner:hover .overlay {
  transform: scale(1);
}

.text {
  background-color: var(--text-color); /* Fallback color */
  color: white;
  border: 3px solid var(--bg-color2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 80%;
  padding: 20px;
  text-align: center;
}

/* ==================================Content========================== */
#content{
  height: 760px;
  display: flex;
  justify-content: space-around;
  padding: 0 55px;
}

.contentImg{
  width: 485px;
  height: 685px;
}

.content_text{
  padding: 3rem;
}

.content_header h1{
  font-size: 50px;
  margin-bottom: 1.5rem;
}

.content_header p{
  color: var(--paige);
  margin-bottom: 1rem;
}

.listInfor{
  display: inline-block;
  width: 100%;
  text-decoration: none;
}
.listInfor li{
  list-style: none;
  margin-bottom: 10px;
}

.title{
  color: var(--text-color);
  display: flex;
}

.listInfor .title span:first-child{
  font-size: 20px;
  font-weight: 600;
  color: var(--text-color);
  width: 130px;
}

.listInfor .title span {
  font-size: 20px;
  width: calc(100%-130px);
  margin-left: 20px;
}

.btnDowload{
  border-radius: 20px;
  margin-top: 20px;
  background-color: var(--purple);
  font-size: 20px;
  border: none;
  padding: 12px 30px;
}

.btnDowload:hover{
  background-color: var(--paige);
  transition: var(--smooth);
}

.btnDowload a{
  text-decoration: none;
}

.skillContainer{
  height: 412px;
  width: 452px;
  margin-top: 10px;
}

.skill {
  border-radius: 10px;
  width: 100%;
  background-color: #ddd;
}

.skills {
  border-radius: 10px;
  text-align: right;
  color: var(--text-color);
}

.HTML {
  width: 85%; 
  background-color: var(--purple);
}
.CSS {
  width: 70%; 
  background-color: var(--purple);
}
.JavaScript {
  width: 50%; 
  background-color: var(--purple);
}
.Design {
  width: 35%; 
  background-color: var(--purple);
}
.Java{
  width: 20%; 
  background-color: var(--purple);
}

/* ====================================Service=========================== */
#container{
  /* padding-bottom: 25px; */
}
.containerHeader{
  margin-top: 35px;
}
.main_title{
  margin-left: 50px;
}
h2{
  font-size: 40px;
}
.service{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.webService{
  /* margin-top: 15px; */
  margin-bottom: 1.5rem !important;
}
.serviceItem{
  width: 330px;
  height: 422px;
  padding: 60px 30px;
  text-align: center;
  background-color: var(--bg-color);
  transition: .4s ease 0s;
  margin-left: 18px;
}

.serviceItem img{
  width: 70px;
  height: 70px;
  margin-bottom: 45px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.webService .serviceItem:hover{
  transition: .5s ease 0s;
  background-color: var(--purple);
  color: var(--paige);
}

.primary_btn{
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--text-color);
  display: inline-block;
  position: relative;
  transition: all .4s ease 0s;
  text-decoration: none;
  margin-top: 25px;
}

.primary_btn:before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 86px;
  height: 2px;
  transition: all .4s ease 0s;
  background: linear-gradient(90deg,#1345e6 0%,#ed239f 100%);
}

.partnerService{
  position: relative;
  padding: 4em 0!important;
} 

.webPartner{
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  justify-content: center;
}

.partner img{
  width: 150px;
  height: 50px;
}

.partnerItem .partner{
  display: block;
  padding: 0 20px;
} 


/* ====================================Contact=========================== */

.contact > h1{
  justify-content: center;
}

.addressContact{
  
  width: 260px;
  max-height: 234px;
  
}

.addressContact > a{
  color: black;
}

.contactItem{
  /* justify-content: space-around; */
}
.iconItemContact{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--purple);
  margin: 0 auto;
}
.fa-solid{
  font-size: 30px;
  
}
.fa-location-dot{

}




